@{
    ViewData["Title"] = "Foglalás";
}
@model HomeViewModel

<h1>Időpontfoglalás</h1>
<div>
    <form asp-controller="Home" asp-action="ResetDate" class="form-inline">
        <div class="form-group">
            <label>Válasszon dátumot! </label>
        </div>
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="failureNotification"></div>
            <input asp-for="@Model.Date" placeholder="@Model.Date.ToShortDateString()"/>
            <span asp-validation-for="@Model.Date"></span>
        </div>
        <input type="submit" value="Elküld" class="btn btn-primary" />
    </form>
</div>
<div>
    <table class="table table-bordered">
        <caption>Időpontok a kiválasztott napon:</caption>
        <thead>
            <tr>
                <th width="100">
                    @Model.Date.ToShortDateString()
                </th>
                @foreach (String name in Model.Mechanics)
                {
                    <th>
                        @name
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < 8; ++i)
            {
                <tr>
                    <th>@Model.RowHeaders[i]</th>
                    @for (int j=0; j<Model.Mechanics.Count; ++j)
                    {

                        @switch (Model.Timeslots[i][j].Status)
                        {
                            case TimeslotStatus.BOOKED:
                                <td class="timeslot-booked">
                                    Foglalt
                                </td>
                                break;
                            case TimeslotStatus.OWN:
                                <td class="timeslot-own">                                  
                                    <a asp-controller="Appointment" asp-action="Details" asp-route-id="@Model.Timeslots[i][j].Id" asp-route-start="@Model.Timeslots[i][j].Start" asp-route-mechanicId="@Model.Timeslots[i][j].MechanicId" asp-route-mechanicName="@Model.Timeslots[i][j].MechanicName">
                                        Saját
                                    </a>
                                </td>
                                break;
                            case TimeslotStatus.FREE:
                                <td class="timeslot-free">                                  
                                    <a asp-controller="Appointment" asp-action="NewAppointment" asp-route-start="@Model.Timeslots[i][j].Start" asp-route-mechanicId="@Model.Timeslots[i][j].MechanicId" asp-route-mechanicName="@Model.Timeslots[i][j].MechanicName">
                                        Szabad
                                    </a>
                                </td>
                                break;
                            default:
                                <td class="timeslot-disabled">
                                    Nem foglalható
                                </td>
                                break;
                        }
                    
                    }
                </tr>
            }
            </tbody>
        </table>
</div>
